/venv/Lib/site-packages/pip/_vendor/packaging/__about__.py
/venv/
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/dbnavigator.xml
/.idea/sonarlint/issuestore/index.pb
/.idea/Living_Documentation.iml
/.idea/markdown-navigator.xml
/.idea/markdown-navigator-enh.xml
/.idea/misc.xml
/.idea/modules.xml
/.idea/vcs.xml
